@model ForgotPasswordViewModel

<h2>Change Your Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" required />
        <span class="text-danger">@Model</span>
        <span asp-validation-for="Email"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<a asp-action="Login">Go back</a>