@model newspaper.net.Models.User

<h2>Login</h2>
<br />
<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" required />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" required />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br />
<p>
    <a asp-action="Register">Create an account</a>
</p>

<p>
    <a asp-action="ForgotPassword">Forgot your password?</a>
</p>